@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer components {
  .btnPrimary {
    @apply px-2 py-2 font-semibold capitalize transition ease-in-out border-2 rounded-lg shadow-lg cursor-pointer md:px-8 border-cl-acn hover:text-cl-white hover:bg-cl-acn text-cl-acn;
  }
  .btnLink {
    @apply px-2 pb-1 font-normal duration-100 ease-out cursor-pointer text-cl-black hover:border-cl-black hover:border-b-2 hover:text-cl-acn;
  }
  .h2 {
    @apply text-xl font-semibold capitalize md:font-bold md:text-3xl;
  }
  .h3 {
    @apply text-2xl capitalize;
  }
}

:root {
  --dark-blue: #0a1930;
  --color-action: #471aa0;
  --color-action2: #9073de;
  /* --color-sec: #f9fbfa; */
  --color-sec: #f9f9f9;

  --color-white: #fff;
  --color-black: #000;
  /* #F9FBFA #E8EDEB */

  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: orangered;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto" "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: calc(16px + (24 -16) * ((100vw -320px) / (1920 - 320)));
}

section {
  width: 100%;
  /* padding: 4rem 0; */
  /* padding-bottom: 2rem; */
  padding-top: 4rem;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.swiper-pagination {
  margin: 20px;
}

.columnBox {
  display: grid;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--color-white);
  padding: 6px;
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 1px solid var(--color-white);
  padding: 8px;
}

.pagination {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  position: absolute;
}

.pagination a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid var(--color-action);
  color: var(--color-action);
  cursor: pointer;
}

.pagination a:hover {
  background: var(--color-action);
  color: var(--color-white) !important;
}

.activePage {
  background: var(--color-action);
  color: var(--color-white) !important;
  font-weight: 700;
}

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000b3;
  z-index: 9;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.text-effect {
  color: var(--color-action);
  transition: color 0.3s ease-in-out;
}

.text-effect:hover {
  color: rgb(0, 118, 0);
}


@media screen and (max-width: 600px) {
  .columnBox {
    display: grid;
    /* gap: 0px;  */
    justify-content: space-between;
    align-items: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

.ql-editor {
  min-height: 200px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 1rem;
}

.pagination .page-num {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: normal;
  color: #333;
  border: 1px solid #333;
  margin: 2px;
}

.pagination .page-num:hover {
  color: #fff;
  background-color: var(--light-blue);
}

.react-star-rate__star {
  color: red;
}
